<div class="container">
    <div class="card mx-auto my-auto">
        <img src="https://avatars.githubusercontent.com/u/77983875?v=4" class="card-img-top" alt="..." />
        <div class="card-body">
            <h1 class="card-title">Aiden Janey</h1>
            <h2 class="card-text">Web Developer</h2>
            <br/>
            <ul class="list-group list-group-horizontal">
                <li class="bi bi-github list-group-item"><a href="https://github.com/aiden-janey" target="_blank" class="btn">GitHub</a></li>
                <li class="bi bi-linkedin list-group-item"><a href="https://www.linkedin.com/in/aiden-janey/" target="_blank" class="btn">LinkedIn</a></li>
                <li class="bi bi-envelope-at-fill list-group-item"><a href="mailto:arjaney.professional@gmail.com" class="btn">Email</a></li>
            </ul>
        </div>
    </div>
</div>